/* global style */
:root {
    --red: #F51822;
    --yellow: #F5F14E;
    --white: #ececec;
    --black: #0b0b0b;
}


.btn__white1 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.btn__white1_text {
    color: var(--white);
    border: solid var(--white) 2px;
    padding: 20px 35px;
    width: 200px;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden; 
}

.btn__white1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: var(--white);
    transition: left 0.5s; 
    z-index: 0;
}

.btn__white1:hover::before {
    left: 0; 
    
}

.btn__white1:hover .btn__white1_text {
    color: var(--black); /* изменение цвета текста на черный при наведении */
}

/*  */


.btn__black {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.btn__black_text {
    color: var(--black);
    border: solid var(--black) 2px;
    padding: 20px 35px;
    width: 200px;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden; /* убедитесь, что текст не выходит за пределы кнопки */
}

.btn__black::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* начальное положение слева от кнопки */
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition: left 0.5s; /* добавление плавного перехода для анимации заполнения */
    z-index: 0;
}

.btn__black:hover::before {
    left: 0; /* изменение положения слева на 0 при наведении (заполнение с лева на право) */
    
}

.btn__black:hover .btn__black_text {
    color: var(--white); /* изменение цвета текста на черный при наведении */
}

/*  */
/* .btn__black {
    border: solid var(--black) 2px;
    text-decoration: none;
    color: var(--black);
    padding: 20px 35px;
}
.btn__black:hover {
    background-color: var(--black);
    color: var(--white);
} */


/* slick */
.slick-prev, .slick-next {
   background: transparent;
   border: none;
   color: #ececec;
   z-index: 5;
   margin-bottom: 15px;
}
.slick-prev {
    position: absolute;
    bottom: 0;
    left: 44%;
}
.slick-next {
    position: absolute;
    bottom: 0;
    right: 44%;
}
.slick-prev:hover, .slick-next:hover {
    transform: scale(0.9);
}

/*  */
.slick-prev1, .slick-next1 {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    z-index: 3;
}

.slick-prev1 {
    top: 30%;
}

.slick-next1 {
   right: 0;
   top: 30%;
}

.slick-prev1:hover, .slick-next1:hover {
    transform: scale(0.9);
}
/*  */
.slick-prev2, .slick-next2 {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    z-index: 3;
    color: var(--white);
}

.slick-prev2 {
    bottom: 10%;
    left: 44%;
}

.slick-next2 {
   right: 44%;
   bottom: 10%;
}

.slick-prev2:hover, .slick-next2:hover {
    transform: scale(0.9);
}

/* page main */

.barbershop {
    background-image:linear-gradient(180deg, rgba(161, 114, 114, 0) 0%, rgba(0,0,0,1) 100%), url('/public/img/barbershop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40vh 0;
}
.barbershop__text-block {
    text-align: center;
    
}

.our-barbers {
    background-color: var(--black);
    color: var(--white);
}

.our-barbers__slide {
    padding-bottom: 10vh;
}

.review__image {
    margin: 0 auto;
    border-radius: 70px;
}


.review__block {
    border: solid var(--black) 2px;
    width: 60%;
    padding: 20px 25px;
    border-radius: 15px;
    margin: 0 auto;
}

/* page about us */

.about-us {
    background-image:  url('/public/img/banner-barbershop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.about-us__image {
    max-width: 100%;
}
.about-us__title {
    text-align: center;
    color: var(--white);
    padding: 20vh 0vh;
    margin-bottom: 0;
}

.about-us__background1 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 100%, rgba(255,255,255,0) 100%), url('/public/img/slide-barbershop1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.about-us__background2 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 100%, rgba(255,255,255,0) 100%), url('/public/img/slide-barbershop2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.about-us__background3 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 100%, rgba(255,255,255,0) 100%), url('/public/img/slide-barbershop3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.about-us__background4 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.66) 100%, rgba(255,255,255,0) 100%), url('/public/img/slide-barbershop4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.about-us__block {
    text-align: center;
    color: var(--white);
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20%;
}

/* page our barbers */

.barbers {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.8223740179665616) 0%, rgba(255,255,255,0) 100%), url('/public/img/barbers_men.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.barbers__title {
    text-align: center;
    color: var(--white);
    padding-top: 40vh;
}

/* page contacts */
.contacts-vidget {
    max-width: 100%;
    text-align: center;
}
.form__contacts {
    max-width: 80%;
    margin: 0 auto;
}
.vidget {
    width: 600px;
    height: 400px;
}
/* form */
.form-online {
    max-width: 50%;
    margin: 0 auto;
}
.label__time {
    margin-top: 15px;
    margin-bottom: 15px;
}
/* page blog */
.link_blog {
    text-decoration: none;
    color: #0b0b0b;

}

@media (max-width: 1330px) {
    .slick-prev {
        
        bottom: 0;
        left: 40%;
    }
    .slick-next {
        
        bottom: 0;
        right: 40%;
    }
    .our-barbers__slide {
        padding-bottom: 13vh;
    }
    .slick-prev2 {
        bottom: 15%;
        left: 40%;
    }
    .slick-next2 {
        right: 40%;
        bottom: 15%;
    }
    .about-us__background1 {
        height: 80vh;
    }
    .about-us__background2 {
        height: 80vh;
    }
    .about-us__background3 {
        height: 80vh;
    }
    .about-us__background4 {
        height: 80vh;
    }
    .about-us__block {
        padding-top: 15%;
    }

}


@media (max-width: 1000px) {
    .barbershop {
        padding: 30vh 0;
    }
    .our-barbers__slide {
        padding-bottom: 15vh;
    }
    .about-us__title {
        padding: 10vh 0;
    }

    .slick-prev2 {
        bottom: 15%;
        left: 40%;
    }
    .slick-next2 {
        right: 40%;
        bottom: 15%;
    }
    .about-us__background1 {
        height: 70vh;
    }
    .about-us__background2 {
        height: 70vh;
    }
    .about-us__background3 {
        height: 70vh;
    }
    .about-us__background4 {
        height: 70vh;
    }
    .about-us__block {
        padding-top: 15%;
    }

    .barbers {
        height: 70vh;
    }
    .barbers__title {
        padding-top: 30vh;
    }
    .form-online {
        max-width: 80%;
    }
}

@media (max-width: 790px) {
    .slick-prev {
        bottom: 0;
        left: 30%;
    }
    .slick-next {
        bottom: 0;
        right: 30%;
    }

    .slick-prev2 {
        bottom: 6%;
        left: 35%;
    }
    .slick-next2 {
        right: 35%;
        bottom: 6%;
    }
    .about-us__background1 {
        height: 70vh;
    }
    .about-us__background2 {
        height: 70vh;
    }
    .about-us__background3 {
        height: 70vh;
    }
    .about-us__background4 {
        height: 70vh;
    }
    .about-us__block {
        padding-top: 10%;
    }

    .barbers {
        height: 50vh;
    }
    .barbers__title {
        padding-top: 22vh;
    }
}

@media (max-width: 750px) {
    .barbershop {
        padding: 20vh 0;
    }
}

@media (max-width: 600px) {
    .barbers {
        height: 40vh;
    }
    .barbers__title {
        padding-top: 15vh;
    }
}

@media (max-width: 560px) {
    .slick-prev2 {
        bottom: 3%;
        left: 35%;
    }
    .slick-next2 {
        right: 35%;
        bottom: 3%;
    }
    .about-us__block {
        padding-top: 5%;
    }
}

@media (max-width: 520px) {
    .slick-prev1 {
        bottom: 0;
        left: 30%;
        margin-top: 50vh;
    }
    
    .slick-next1 {
       right: 30%;
       bottom: 0;
       margin-top: 50vh;
    }
    .reviews {
        height: 90vh;
    }

    .about-us__background1 {
        height: 80vh;
    }
    .about-us__background2 {
        height: 80vh;
    }
    .about-us__background3 {
        height: 80vh;
    }
    .about-us__background4 {
        height: 80vh;
    }
    .slick-prev2 {
        bottom: 5%;
        left: 30%;
    }
    .slick-next2 {
        right: 30%;
        bottom: 5%;
    }

    .barbers {
        height: 25vh;
    }
    .barbers__title {
        padding-top: 10vh;
    }
}

@media (max-width: 470px) {
    .slick-prev1, .slick-next1 {
        margin-top: 50vh;
    }
}

@media (max-width: 450px) {
    .about-us__background1 {
        height: 90vh;
    }
    .about-us__background2 {
        height: 90vh;
    }
    .about-us__background3 {
        height: 90vh;
    }
    .about-us__background4 {
        height: 90vh;
    }
}

@media (max-width: 400px) {
    .slick-prev {
        bottom: 0;
        left: 20%;
    }
    .slick-next {
        bottom: 0;
        right: 20%;
    }
    .slick-prev1, .slick-next1 {
        margin-top: 53vh;
        
    }
    .slick-prev1 {
        left: 25%;
    } 
    .slick-next1 {
        right: 25%;
    }
    .reviews {
        height: 100vh;
    }

    .about-us__background1 {
        height: 100vh;
    }
    .about-us__background2 {
        height: 100vh;
    }
    .about-us__background3 {
        height: 100vh;
    }
    .about-us__background4 {
        height: 100vh;
    }

    .slick-prev2 {
        bottom: 2%;
        left: 25%;
    }
    .slick-next2 {
        right: 25%;
        bottom: 2%;
    }
}